@charset "UTF-8";
/* CSS Document */

html, body {
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}
body {
	background:url("images/LoktaYel.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#map-canvas {
	height: 600px;
    width:100%;
}

.hidden {display:none;}

#locate {
    width: 20%;
}
.slider {
    width: 30%;
    float:right;
}
.gm-style {
	color:#92d738;
}

button#getMap,button#goBack {
	width:100%;
	margin:0, 1%;
}

